################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NCoreProjects.Extensions/v16
/NCoreProjects.Extensions/bin/Debug/netstandard2.0
/NCoreProjects.Extensions/obj
